{{{doctype}}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{url "/style.css"}} />
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        {{site.name}}
      {{/if}}
    </title>
  </head>
  <body>
  
    {{> header}}

    <main>
      {{{content}}}
    </main>
  
    {{> footer}}

    <script src={{url "/main.js"}}></script>
  </body>
</html>